.contact-form {
    width: 540px;
    margin: 0 auto;
}
.first-inputs {
    display: flex;
    justify-content: space-between;
}
.first-inputs input {
    width: 40% !important;
}
.contact-form input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aeaeae;
    height: 40px;
    text-transform: uppercase;
}
.contact-form input:nth-child(3) {
    margin-top:80px;
}
.contact-form input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.btn-contact {
    margin-top: 50px;
    margin-bottom: 50px;
    
}