.price {
    background: #ededed;
}
.price-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
}
.price-card {
    width: 255px;
    background: rgb(255, 255, 255);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.card-header {
    text-transform: uppercase;

}
.card-header p {
    font-weight: 400;
    font-size: 14pt;
}
.card-header p span{
    font-weight: bold;
    font-size: 30pt;
}
.card-header p span::after{
    content: "/Month";
    display: block;
    font-size: 10pt;
    font-weight: 400;
    color: #aeaeae;
}
.card-main {
    margin-top: 20px;
    color: #7e7e7e;
    font-size: 10pt;
    line-height: 13pt;
    margin-bottom: 27px;
}

.card-main span::after {
    display: block;
    content: "";
    width: 7px;
    height: 1px;
    background: #7e7e7e;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


